.body {
    background-color: burlywood;
}

.inputs {
    padding: 2%;
    text-align: center;
}

.café {
    padding: 3%;
    width: 300px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.botao {
    padding: 1px 10px;
    border: 1px outset buttonborder;
    border-radius: 3px;
    color: buttontext;
    background-color: buttonface;
    text-decoration: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}